<div class="jumbotron">
    <h1 class="display-4">Contact List</h1>
    <p class="lead">Com nossa plataforma, você pode criar, gerenciar e compartilhar suas listas de contatos de forma rápida e intuitiva. Armazenamos seus contatos de maneira segura e oferecemos recursos que ajudam a mantê-los sempre atualizados.</p>
    <%= link_to 'Crie a sua conta', new_user_path, class: 'btn btn-primary btn-lg' %>
</div>