<div class="jumbotron">
    <h1 class="display-4">Contact List</h1>
    <p class="lead">Com nossa plataforma, você pode criar, gerenciar e compartilhar suas listas de contatos de forma rápida e intuitiva. Armazenamos seus contatos de maneira segura e oferecemos recursos que ajudam a mantê-los sempre atualizados.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Crie sua conta</a>
</div>